<p>
  Hello, <%= @recipient.first_name + ' ' +  @recipient.last_name %>
</p>

<p>
  This is to let you know that <%= @modifier.first_name + ' '+ @modifier.last_name %> give a feedback on your <%= @contract.job.title %> job.
</p>

<p>Thanks for your time, </p>
<p>The SeekRightJobs Team</p>