<p>
  Hello, <%= @recipient.first_name + ' ' +  @recipient.last_name %>
</p>

<p>
  This is to let you know that your job contract on <%= @contract.job.title %> has been ended by <%= @modifier.first_name + ' '+ @modifier.last_name %>.
</p>

<p>Thanks for your time, </p>
<p>The SeekRightJobs Team</p>