<p>
  Hello, <%= @applicant.first_name + ' ' +  @applicant.last_name %>
</p>

<p>
  This is to let you know that your applied job <%= @job.title %> has been canceled by employer.
</p>

<p>Thanks for your time, </p>
<p>The SeekRightJobs Team</p>