<p>
  Hello, <%= @job_application.user.first_name + ' ' +  @job_application.user.last_name %>
</p>

<p>
  This is to let you know that employer has received your application. He appreciates your interest in this job for which you have applied for.
  Congratulations, You are shortlisted for <%= @job_application.job.title %> job. You can expect a phone call or message for an interview from them shortly.
</p>

<p>Thanks.</p>
